h1, h2, h3, h4, h5, p {
  color: #ececec;
}

td {
  text-align: left;
  padding: 0 50px 0 50px;
}

hr {
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    width: 5%;
    margin: 100px auto;
}

.home-container {
  background-color: #3b6978;
  width: 100vw;
  height: 100vh;
}

.nav-custom {
  background-color: #204051;
  width: 100vw;
}

.directory {
  position: absolute;
  right: 5%;
}

.nav-item {
  padding: 0 25px;
}

.welcome {
  text-align: left;
  width: 40%;
  position: absolute;
  left: 15%;
  top: 30%;
}

.sub-name {
  opacity: 50%;
}

.summary-desc {
  padding-top: 25px;
  font-style: italic;
  letter-spacing: 0.1rem;
}

.intro {
  padding-bottom: 25px;
  font-style: italic;
  color: #84a9ac;
}

.resume {
  margin-top: 25px;
  color: #84a9ac;
  background-color: transparent;
  background-image: none;
  border-color: #84a9ac;
}

.resume:hover {
  background-color: #84a9ac;
  color: #3b6978;
}

/* about me section */
.about-me {
  background-color: #84a9ac;
  width: 100vw;
  text-align: center;
  padding: 10%;
  padding-top: 100px;
  color: #3b6978;
}

.about-me h1 {
  padding-top: 30px;
  color: #3b6978;
}


.about-me h4 {
  padding-bottom: 30px;
  color: #3b6978;
  text-decoration: underline;
}

.about-me p {
  color: #3b6978;
  width: 70%;
  margin: 0 auto;
}

.about-me-desc {
  padding-top: 30px;
  padding-bottom: 20px;
}

.about-me .job-desc{
  width: 100%;
}

/* skills */

.about-me .skills {
    margin: 50px auto;
}

.about-me .skills h3{
  color:#3b6978;
  display:block;
  margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.about-me .skill-title{
  padding-bottom: 50px;
}

.about-me .skill-row {
    display: inline-block;
    margin: 0 10% 0 10%;
}

.about-me .skill-desc {
    text-align: left;
    padding: 0;
    width: 100%;
    color: #3b6978;
}

.data-analysis {
    width: 175px;
    display: inline-block;
}

.programming {
    width: 300px;
    display: inline-block;
}

/* experiences */

.row-work {
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
}

.list-bg {
  background-color: transparent;
  color: #3b6978;
  text-align: center;
}

.list-bg:hover {
  background-color: #cae8d5;
  color: #3b6978;
}

.list-group-item.active {
  color: white;
  background-color: #3b6978;
  border-color: #3b6978;
}

.tab-pane {
  color: #3b6978;
}

.about-me .time {
  font-weight: 500;
  margin-bottom: 10px;
    width: 100%;
}

.about-me .job-title{
  font-size: 1.2rem;
  font-weight: 900;
  margin-bottom: 0;
  width: 100%;
}

.about-me .tech-work {
  text-align: right;
  line-height: 1.5rem;
  width: 100%;
}


.about-me .tech button {
  color: white;
  background-color: #3b6978;
  border-color: #3b6978;
  margin-top: 5px;
}

/* projects section */
.project {
  height: 100vh;
  width: 100vw;
  background-color: #3b6978d4;
  text-align: center;
}

.excuse{
  padding-top:20%;
  width: 50%;
  margin: auto;
}

.excuse h1{
  padding-bottom: 50px;
}

.excuse button{
  color: white;
  border-color:white;
}

.excuse button:hover{
  border-color: #84a9ac;
}

/* contact-me */
.contact {
  background-color: #84a9ac;
  width: 100vw;
  height: 80vh;
  text-align: center;
  padding: 9% 10% 10% 10%;
  margin: auto;
}

.contact h1 {
  color: #3b6978;
  padding-bottom: 5%;
}

.contact h3 {
  color: #3b6978;
}

.contact p {
  color: #3b6978;
  padding-left: 20%;
  padding-right: 20%;
}

.contact a {
  background: #3b6978d4;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: 'Press Start 2P', cursive;
  padding: 20px 10px 20px 10px;
  box-shadow: 2px 2px 2px 0 #000000;
  text-shadow: 0 0 5px #000000;
  border: solid #3b6978 2px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 50px;
}

.contact a:hover {
  border: solid #204051 1px;
  background: #204051;
  border-radius: 20px;
  text-decoration: none;
  color: white;
}

/* footer */
.bottom-container {
  background-color: #204051;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 100vw;
}

.footer-link {
  margin: 0 7px;
}

.copyright{
  padding-top: 10px;
  opacity: 50%;
}
